$breakpoints: (
  phone: 320px,
  tablet: 768px,
  desktop: 1024px,
);

$white: #ffffff;
$black: #191919;
$light-gray: #eeeeee;
$dark-gray: #222222;
$helvetica: 'Open Sans', sans-serif;
$helvetica-condensed: 'Open Sans Condensed', sans-serif;
$muli: Muli, sans-serif;
$futura: futura-pt, sans-serif;
$helvetica: 'Helvetica Neue', Helvetica, Arial, sans-serif;
